* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightyellow;
}
h1 {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    text-decoration: underline;
    color: midnightblue;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}

div {
    position: relative;
    background-color: lightcyan;
    border: 3px solid midnightblue;
    width: 100%;
}

.title1 , .title2 , .title3{
    float: right;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    outline: 3px solid midnightblue;
    color: aliceblue;
}

.title1 {
    background-color: rgb(156, 42, 0);
}

.title2 {
    background-color: rgb(138, 7, 138);
}

.title3 {
    background-color: rgb(73, 142, 4);
}


.content {
    clear: right;
    padding: 15px;
    color: midnightblue;
}

.row {
    width: 100%;
}

/*large media*/
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*medium media*/
@media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*small media*/
@media (max-width: 767px){
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
